body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.calc-button svg {
    width: 50%;
    stroke: white;
    pointer-events: none;
}

.calc-button {
    font-size: 100%;
    font-weight: 500;
    cursor: pointer;
    color: white;
    border: 1px solid rgb(130, 130, 250);
    background-color: rgb(53, 53, 184);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-sizing: border-box;
}
.calc-button:hover {
    background-color: rgb(77, 77, 202);
}
.calc-button:active {
    background-color: rgb(130, 130, 250);
}
.calc-body {
    width: 92vmin;
    max-width: 500px;
    background-color: rgb(24, 24, 24);
    color: white;

    font-size: 30px;
    padding: 5%;
    border-radius: 10px;

    border: 2px solid rgb(170, 170, 252);
    outline: 6px solid rgb(53, 53, 184);
    box-sizing: border-box;
}

.calc-output {
    margin-bottom: 1rem;
    text-align: end;
    margin: 2rem 0;
}
.output-statement {
    min-height: 1.3333em;
    color: rgb(165, 165, 165);

}
.output-result {
    font-size: 50px;
    overflow: auto;
}

.calc-button-grid {
    height: 69vmin;
    max-height: 320px;
    max-width: 400px;
    margin: auto;
    display: grid;
    grid-template-areas: 
        'seven eight nine divide remove'
        'four five six multiply equal'
        'one two three minus equal'
        'zero dot ac plus equal';

    place-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.calc-button-1 {
    grid-area: one;
}
.calc-button-2 {
    grid-area: two;
}
.calc-button-3 {
    grid-area: three;
}
.calc-button-4 {
    grid-area: four;
}
.calc-button-5 {
    grid-area: five;
}
.calc-button-6 {
    grid-area: six;
}
.calc-button-7 {
    grid-area: seven;
}
.calc-button-8 {
    grid-area: eight;
}
.calc-button-9 {
    grid-area: nine;
}
.calc-button-0 {
    grid-area: zero;
}
.calc-button-dot {
    grid-area: dot;
}
.calc-button-clear {
    grid-area: ac;
}
.calc-button-plus {
    grid-area: plus;
}
.calc-button-minus {
    grid-area: minus;
}
.calc-button-multiply {
    grid-area: multiply;
}
.calc-button-divide {
    grid-area: divide;
}
.calc-button-equal {
    grid-area: equal;
}
.calc-button-remove {
    grid-area: remove;
}